{% extends 'base.html' %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to djwitter</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet/'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <!-- <input type='hidden' value='/fake-url' name='next' /> -->
            <textarea required='required' class='form-control' name='content' placeholder='your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div class='row' id='tweets'>
    Loading...
</div>

<script>

function tweetCreateFormDidSubmit(event) {
    event.preventDefault()
    const myForm = event.target
    console.log(event.target)
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WIDTH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if (xhr.status === 201) {
            const newTweetJson = xhr.response
            // const newTweetJson = JSON.parse(newTweet)
            const newTweetElement = formatTweetElement(newTweetJson)
            const ogHtml = tweetsContainerElement.innerHTML
            tweetsContainerElement.innerHTML = newTweetElement + ogHtml
            myForm.reset()
        }
    }
    xhr.send(myFormData)

    // console.log(myForm.getAttribute("action"))
    console.log(url, method)
    for (var myItem of myFormData.entries()) {
        console.log(myItem)
    }
    // console.log(event)
}

const tweetCreateFormEl = document.getElementById("tweet-create-form")

tweetCreateFormEl.addEventListener("submit", tweetCreateFormDidSubmit)

const tweetsContainerElement = document.getElementById("tweets") // get an html element

// tweetsElement.innerHTML = 'Loading...' // set new html in that element
// var el1 = "<h1>Hi there 1</h1>"
// var el2 = "<h1>Hi there 2</h1>"
// var el3 = "<h1>Hi there 3</h1>"
// tweetsElement.innerHTML = el1 + el2 + el3

function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = xhr.response.response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
        // console.log(listedItems)
    }
    xhr.send()
}

loadTweets(tweetsContainerElement)

function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
    currentCount++
}

function likeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
    tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
    + "'><p>" + tweet.content +
        "</p><div class='btn-group'>" + likeBtn(tweet) +
        "</div></div>"
    return formattedTweet
}

</script>
{% endblock content %}